In [1]:
import pandas as pd

In [13]:
df = pd.read_csv(r'../dataset/train/train.csv')
samp = df.sample(10)

In [14]:
img = pd.DataFrame(['2823080.jpg', '2870024.jpg', '2662125.jpg', '2900420.jpg'], columns=['image'])

In [18]:
img = pd.merge(df, img)

In [20]:
pd.concat([samp, img], ignore_index=True)

          image  category
0   2796383.jpg         5
1   2886363.jpg         3
2   2833484.jpg         5
3   2798496.jpg         1
4   2380197.jpg         4
5   2866290.jpg         3
6    622360.jpg         2
7   2784202.jpg         1
8   2874421.jpg         3
9   1141995.jpg         4
10  2823080.jpg         1
11  2870024.jpg         1
12  2662125.jpg         2
13  2900420.jpg         3